{
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "production": {
      "optional": [
        "optimisation.react.constantElements",
        "optimisation.react.inlineElements"
      ]
    }
  },
}
